<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" package="com.example.mobile_health_app">    <!-- Internet permission for MongoDB Atlas connection -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>


    <!-- Health Connect permissions -->
    <uses-permission android:name= "android.permission.health.READ_HEALTH_DATA_IN_BACKGROUND"/>
    <uses-permission android:name= "android.permission.health.READ_HEALTH_DATA_HISTORY"/>

    <uses-permission android:name="android.permission.health.READ_ACTIVE_CALORIES_BURNED"/>
    <uses-permission android:name="android.permission.health.WRITE_ACTIVE_CALORIES_BURNED"/>

    <uses-permission android:name="android.permission.health.READ_BASAL_METABOLIC_RATE"/>
    <uses-permission android:name=" android.permission.health.WRITE_BASAL_METABOLIC_RATE"/>

    <uses-permission android:name="android.permission.health.READ_BLOOD_PRESSURE"/>
    <uses-permission android:name="android.permission.health.WRITE_BLOOD_PRESSURE"/>

    <uses-permission android:name="android.permission.health.READ_CYCLING_PEDALING_CADENCE"/>
    <uses-permission android:name="android.permission.health.WRITE_CYCLING_PEDALING_CADENCE"/>

    <uses-permission android:name="android.permission.health.READ_DISTANCE"/>
    <uses-permission android:name="android.permission.health.WRITE_DISTANCE"/>

    <uses-permission android:name="android.permission.health.READ_ELEVATION_GAINED"/>
    <uses-permission android:name="android.permission.health.WRITE_ELEVATION_GAINED"/>

    <uses-permission android:name="android.permission.health.READ_EXERCISE"/>
    <uses-permission android:name="android.permission.health.WRITE_EXERCISE"/>
    <uses-permission android:name="android.permission.health.READ_EXERCISE_ROUTE"/>
    <uses-permission android:name="android.permission.health.WRITE_EXERCISE_ROUTE"/>

    <uses-permission android:name="android.permission.health.READ_FLOORS_CLIMBED"/>
    <uses-permission android:name="android.permission.health.WRITE_FLOORS_CLIMBED"/>

    <uses-permission android:name="android.permission.health.READ_HEART_RATE"/>
    <uses-permission android:name="android.permission.health.WRITE_HEART_RATE"/>

    <uses-permission android:name="android.permission.health.READ_HEIGHT"/>
    <uses-permission android:name="android.permission.health.WRITE_HEIGHT"/>

    <uses-permission android:name="android.permission.health.READ_HYDRATION"/>
    <uses-permission android:name="android.permission.health.WRITE_HYDRATION"/>

    <uses-permission android:name="android.permission.health.READ_MINDFULNESS"/>
    <uses-permission android:name="android.permission.health.WRITE_MINDFULNESS"/>

    <uses-permission android:name="android.permission.health.READ_NUTRITION"/>
    <uses-permission android:name="android.permission.health.WRITE_NUTRITION"/>

    <uses-permission android:name="android.permission.health.READ_POWER"/>
    <uses-permission android:name="android.permission.health.WRITE_POWER"/>

    <uses-permission android:name="android.permission.health.READ_RESTING_HEART_RATE"/>
    <uses-permission android:name="android.permission.health.WRITE_RESTING_HEART_RATE"/>

    <uses-permission android:name="android.permission.health.READ_SKIN_TEMPERATURE"/>
    <uses-permission android:name="android.permission.health.WRITE_SKIN_TEMPERATURE"/>

    <uses-permission android:name="android.permission.health.READ_SLEEP"/>
    <uses-permission android:name="android.permission.health.WRITE_SLEEP"/>

    <uses-permission android:name="android.permission.health.READ_SPEED"/>
    <uses-permission android:name="android.permission.health.WRITE_SPEED"/>

    <uses-permission android:name="android.permission.health.READ_STEPS"/>
    <uses-permission android:name="android.permission.health.WRITE_STEPS"/>

    <uses-permission android:name="android.permission.health.READ_STEPS_CADENCE"/>
    <uses-permission android:name="android.permission.health.WRITE_STEPS_CADENCE"/>

    <uses-permission android:name="android.permission.health.READ_TOTAL_CALORIES_BURNED"/>
    <uses-permission android:name="android.permission.health.WRITE_TOTAL_CALORIES_BURNED"/>

    <uses-permission android:name="android.permission.health.READ_WEIGHT"/>
    <uses-permission android:name="android.permission.health.WRITE_WEIGHT"/>

    <uses-permission android:name="android.permission.health.READ_WHEELCHAIR_PUSHES"/>
    <uses-permission android:name="android.permission.health.WRITE_WHEELCHAIR_PUSHES"/>

    <uses-permission android:name="android.permission.health.READ_OXYGEN_SATURATION"/>
    <uses-permission android:name="android.permission.health.WRITE_OXYGEN_SATURATION"/>




    <uses-feature android:name="android.hardware.camera" android:required="false" />


    <!-- Bluetooth permissions for wearable device detection -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <!-- Quyền cần cho Foreground Service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>


    <!-- Bluetooth feature -->
    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />

    <queries>
        <package android:name="com.google.android.apps.healthdata" />
        <package android:name="com.sec.android.app.shealth" />
    </queries>



    <application android:allowBackup="true" android:dataExtractionRules="@xml/data_extraction_rules" android:fullBackupContent="@xml/backup_rules" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/Theme.Mobile_health_app" tools:targetApi="31">
        <!-- Tên hiển thị trên dialog Samsung Health -->
        <meta-data android:name="com.samsung.android.sdk.healthdata.app.name" android:value="MobileHealthApp"/>

        <!-- ID phải duy nhất, thường dùng package name -->
        <meta-data android:name="com.samsung.android.sdk.healthdata.app.id" android:value="com.example.mobile_health_app"/>


        <activity android:name=".ui.StartActivity" android:exported="true" android:theme="@style/Theme.Mobile_health_app.NoActionBar">
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE"/>
                <category android:name="android.intent.category.HEALTH_PERMISSIONS"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity" android:exported="false" android:theme="@style/Theme.Mobile_health_app.NoActionBar">
        </activity>
        <activity android:name=".ui.SignupActivity" android:exported="false" android:theme="@style/Theme.Mobile_health_app.NoActionBar">
        </activity>

        <activity android:name=".ui.MainActivity" android:exported="false" android:label="@string/app_name" android:theme="@style/Theme.Mobile_health_app.NoActionBar">
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
            </intent-filter>
        </activity>


        <activity android:name=".ui.LanguageActivity" android:exported="false" android:label="@string/app_name" android:theme="@style/Theme.Mobile_health_app.NoActionBar">

        </activity>


        <!-- Add FileProvider configuration -->
        <provider android:name="androidx.core.content.FileProvider" android:authorities="com.example.mobile_health_app.fileprovider" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>


        <service
            android:name=".Service.HealthDataSyncService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />


    </application>
    <!-- Check if Health Connect is installed -->

</manifest>